[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-seriesfinale
Exec=sailfish-qml harbour-seriesfinale
Name=SeriesFinale
